<div class="container mt-3">
  <div class="row">
    <div class="col">
      <h2>Create a bookmark</h2>
      <%= simple_form_for [@list, @bookmark], html: { class: 'col-4 justify-content-center gradient-background m-5 py-4 px-3' } do |f| %>
        <%= f.association :movie %>
        <%= f.input :comment %>
        <%= f.submit class: "btn btn-primary mt-3 btn-form" %>
      <% end %>
    </div>
  </div>
</div>
